@if(isOpen) {
<!-- <ngb-alert type="info" *ngIf="isOpen" (closed)="toggle()"> -->
<ngb-alert type="info" (closed)="toggle()">
  Note that this app is built using Angular 18. The APIs in Angular <= 16 are
  significantly different.
</ngb-alert>
} @else { }

<app-menu></app-menu>

<div class="container my-4">
  <app-home></app-home>
</div>

<!-- {{ variable }} - interpolation -->
<!-- <h1>{{ title }}</h1>
<hr /> -->

<!-- (event)="code to execute" -->
<!-- <button (click)="changeTitle()">Change title</button> -->
